@{
    ViewBag.Title = "Flowchart";
}

<link href="@Url.Content("~/Content/demo-all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/perimeterAnchorsDemo.css")" rel="stylesheet" type="text/css" />

<div id="chartOptions">
    <div class="field"><input id="chartName" class="input" type="text" placeholder="New Flowchart"></div>
    <div class='medium metro rounded btn primary'><input type='button' value='New' onclick='Clear()'></div>
    <div class='medium metro rounded btn primary'><input type='button' value='Save' onclick='Save("F")'></div>
    <div class='medium metro rounded btn primary'><input type='button' value='Discard' onclick='Clear()'></div>
</div>

<div class="field"><textarea id="chartDescription" class="input textarea" placeholder="Enter Process Description" rows="4"></textarea></div>

<div id="pallette-menu">
    <ul>
        <h4 style="text-align:center">Drawing Palette</h4>
        <li class="pallette-shape"><div class="shape pallette roundedRectangle">Action<span class="drag_icon">&#10150;</span></div></li>
        <li class="pallette-shape"><div class="shape pallette start">Start<span class="drag_icon">&#10150;</span></div></li>
        <li class="pallette-shape"><div class="shape pallette stop">Stop<span class="drag_icon">&#10150;</span></div></li>
        <li class="pallette-shape"><div class="shape pallette" data-shape="Diamond">Decision<span class="drag_icon">&#10150;</span></div></li>
        <li class="pallette-shape"><div class="shape pallette" data-shape="Ellipse">Collect<span class="drag_icon">&#10150;</span></div></li>
        <li class="pallette-shape"><div class="shape pallette" data-shape="Triangle">Analyze<span class="drag_icon">&#10150;</span></div></li>
        <li class="pallette-shape"><div class="shape pallette stickyNote">Sticky Note text example</div></li>
    </ul>
</div>

<div id="pallette-container">
    <div id="pallette-draw">
        <div class="flow-draw">
            <div id="render"></div>
            <div id="window1" class="shape  start">Start<span class="drag_icon">&#10150;</span></div>
            <div id="window2" class="shape roundedRectangle">Activity Needs Assessment<span class="drag_icon">&#10150;</span></div>
            <div id="window3" class="shape" data-shape="Ellipse">Collect Data From Client<span class="drag_icon">&#10150;</span></div>
            <div id="window4" class="shape roundedRectangle gradient">Input Data<span class="drag_icon">&#10150;</span></div>
            <div id="window5" class="shape" data-shape="Triangle">Analyze Data<span class="drag_icon">&#10150;</span></div>
            <div id="window6" class="shape" data-shape="Diamond">Decision<span class="drag_icon">&#10150;</span></div>
            <div id="window7" class="shape" data-shape="Ellipse">Version A<span class="drag_icon">&#10150;</span></div>
            <div id="window8" class="shape" data-shape="Ellipse">Version B<span class="drag_icon">&#10150;</span></div>  
            <div id="window9" class="shape roundedRectangle">Conclusion<span class="drag_icon">&#10150;</span></div>
            <div id="window10" class="shape stop">Stop<span class="drag_icon">&#10150;</span></div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $(".pallette").draggable({
            containment: '#pallette-draw',
            helper: 'clone',
            stop: function (event, ui) {
                $(ui.helper).clone(true, false).removeClass('pallette ui-draggable-dragging jsPlumb_dragged').addClass('clone').appendTo($('#pallette-draw'));

                var clone = $('.clone');
                var pos = $(ui.helper).offset();
                clone.offset({ top: pos.top, left: pos.left });

                jsPlumb.makeTarget(clone, { dropOptions: { hoverClass: "dragHover" }, anchor: "Continuous" });

                jsPlumb.makeSource(clone, {
                    anchor: "Continuous",
                    connector: "Flowchart"
                });

                clone.removeClass('clone');
            }
        });

        $('li').droppable({ hoverClass: "ui-state-active" });

        /* Connection 1 */
        jsPlumb.connect({ source: $('#window1'), target: $('#window2'), anchor: "Continuous" });
        /* Connection 2 */
        jsPlumb.connect({ source: $('#window2'), target: $('#window3'), anchor: "Continuous" });
        /* Connection 3 */
        jsPlumb.connect({ source: $('#window3'), target: $('#window4'), anchor: "Continuous" });
        /* Connection 4 */
        jsPlumb.connect({ source: $('#window4'), target: $('#window5'), anchor: "Continuous" });
        /* Connection 5 */
        jsPlumb.connect({ source: $('#window5'), target: $('#window6'), anchor: "Continuous" });
        /* Connection 6 */
        jsPlumb.connect({ source: $('#window6'), target: $('#window7'), anchor: "Continuous" });
        /* Connection 7 */
        jsPlumb.connect({ source: $('#window6'), target: $('#window8'), anchor: "Continuous" });
        /* Connection 8 */
        jsPlumb.connect({ source: $('#window6'), target: $('#window9'), anchor: "Continuous" });
        /* Connection 9 */
        jsPlumb.connect({ source: $('#window8'), target: $('#window9'), anchor: "Continuous" });
        /* Connection 10 */
        jsPlumb.connect({ source: $('#window9'), target: $('#window10'), anchor: "Continuous" });
    });
</script>

<style>
    
    #window1 { position:absolute; left:272px; top:289px;}
    #window2 { position:absolute; left:416px; top:274px;}
    #window3 { position:absolute; left:615px; top:289px; }
    #window4 { position:absolute; left:856px; top:274px;}
    #window5 { position:absolute; left:1078px; top:244px;}
    #window6 { position:absolute; left:1312px; top:274px; }
    #window7 { position:absolute; left:1266px; top:124px;}
    #window8 { position:absolute; left:1266px; top:440px;}
    #window9 { position:absolute; left:1532px; top:274px;}
    #window10 { position:absolute; left:1715px; top:293px;}
    
    .flow-draw
    {
        display:inline-block;
        text-align: center;
        height: 95%;
        width: 100%;
        background: white;
        margin: 1em 1em 1em 1em;
        -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
        box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    }
    
    .img-list
    {
        float: left;
        width: 87%;
    }
    
    .list li
    {
        display: table;
        border-collapse: collapse;
        width: 100%;
        height: 250px;
        padding: 5px;
        border-bottom: 2px solid #2C2A67;
        
    }
    .ui-state-active
    {
        background: #FEFFD6;
    }
    .inner
    {
        display: table-row;
        overflow: hidden;
    }
    .li-text
    {
    	/*display: table-cell;*/
        width: 250px;
        vertical-align: middle;
        transform:rotate(-90deg);
        -moz-transform:rotate(-90deg);
        -o-transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        -ms-transform:rotate(-90deg);
    
        -webkit-transform-origin: 120px 120px;
        -moz-transform-origin: 120px 120px;
        -ms-transform-origin: 120px 120px;
        -o-transform-origin: 120px 120px;
        border-bottom: 2px solid #2C2A67;
        
    }
    .li-head
    {
        margin: 0;
    }
    .li-sub
    {
        margin: 0;
    }
    
    .diamond {
       width: 80px; 
       height: 80px; 
       margin: 3px 0 0 30px;
       background: rgb(146, 255, 146);
       border: 2px solid rgb(128, 128, 128);
       -webkit-border-radius: 4.75px 4.75px 4.75px 4.75px;
       -moz-border-radius: 4.75px 4.75px 4.75px 4.75px;
            border-radius: 4.75px 4.75px 4.75px 4.75px;
       /* Rotate */
       -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
       transform: rotate(-45deg);
       /* Rotate Origin */
       -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
       -ms-transform-origin: 0 100%;
       -o-transform-origin: 0 100%;
       transform-origin: 0 100%;
    }
    
    .diamond span, .diamond div 
    {
    	-webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
       transform: rotate(45deg);
    }
</style>