@{
    ViewBag.Title = "Flowchart";
}

@model Ame.WorkflowHTML5.Models.Chart

<link href="@Url.Content("~/Content/demo-all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/perimeterAnchorsDemo.css")" rel="stylesheet" type="text/css" />

<div id="chartOptions">
    <div class="field"><input id="chartName" class="input" type="text" placeholder="New Flowchart"></div>
    <div class='medium metro rounded btn primary'><input type='button' value='New' onclick='Clear()'></div>
    <div class='medium metro rounded btn primary'><input type='button' value='Save' onclick='Save("Flowchart")'></div>
    <div class='medium metro rounded btn primary'><input type='button' value='Discard' onclick='Clear()'></div>
</div>

<div class="field"><textarea id="chartDescription" class="input textarea" placeholder="Enter Process Description" rows="4"></textarea></div>

<div id="pallette-menu">
    <ul>
        <h4 style="text-align: center">Drawing Palette</h4>
        <div class='medium metro rounded btn primary' style="margin-left: 60px" ><input id='toggleButton' type='button' value='Connect' onclick='ToggleMode()'></div>

        <li class="pallette-shape"><div class="shape-wrapper"><div class="shape pallette roundedRectangle"><div class="shape-label">Action</div></div></div></li>
        <li class="pallette-shape"><div class="shape pallette start"><div class="shape-label">Start</div></div></li>
        <li class="pallette-shape"><div class="shape pallette stop"><div class="shape-label">Stop</div></div></li>
        <li class="pallette-shape"><div class="shape pallette" data-shape="Diamond"><div class="shape-label">Decision</div></div></li>
        <li class="pallette-shape"><div class="shape pallette component"><div class="shape-label">Connection Label</div></div></li>
        <li class="pallette-shape"><div class="shape pallette stickyNote"><div class="shape-label">Note</div></div></li>
    </ul>
</div>

<div id="pallette-container">
    <div id="pallette-draw">
        <div class="flow-draw">
            <div id="render"></div>
        </div>
    </div>
</div>

<div id="inputWindow">
    <div class="field"><input id="labelSet" class="input" type="text" placeholder="Enter Label"></div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var handleUserInput = function () {
            var userinput = ($("#labelSet").val());
            $('.edit').text(userinput);
            $('.edit').removeClass('edit');
        }


        var win = $("#inputWindow")
            .kendoWindow({
                actions: ["Close"],
                minWidth: 300,
                modal: true,
                resizable: true,
                title: "Enter title text",
                visible: false,
                close: handleUserInput
            })
            .data("kendoWindow")
            .center();

        $(".pallette").draggable({
            containment: '#pallette-draw',
            helper: 'clone',
            stop: function (event, ui) {
                $(ui.helper).clone(true, false).removeClass('pallette ui-draggable-dragging jsPlumb_dragged').addClass('clone').appendTo($('#pallette-draw'));

                var clone = $('.clone');
                var pos = $(ui.helper).offset();
                clone.offset({ top: pos.top, left: pos.left });

                if (!clone.hasClass('stickyNote') || !clone.hasClass('component')) {
                    jsPlumb.makeTarget(clone, { dropOptions: { hoverClass: "dragHover" }, anchor: "Continuous" });

                    jsPlumb.makeSource(clone, {
                        anchor: "Continuous",
                        connector: "Flowchart"
                    });
                }

                clone.draggable({
                    drag: function () {
                        jsPlumb.repaintEverything();
                    }
                });

                clone.click(function () {
                    $(this).addClass('edit');
                    win.open();
                });

                clone.removeClass('clone');
            }
        });
    });
</script>

<style>
    
    .flow-draw
    {
        display:inline-block;
        text-align: center;
        height: 95%;
        width: 100%;
        background: white;
        margin: 1em 1em 1em 1em;
        -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
        box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    }
    
    .diamond {
       width: 80px; 
       height: 80px; 
       margin: 3px 0 0 30px;
       background: rgb(146, 255, 146);
       border: 2px solid rgb(128, 128, 128);
       -webkit-border-radius: 4.75px 4.75px 4.75px 4.75px;
       -moz-border-radius: 4.75px 4.75px 4.75px 4.75px;
            border-radius: 4.75px 4.75px 4.75px 4.75px;
       /* Rotate */
       -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
       transform: rotate(-45deg);
       /* Rotate Origin */
       -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
       -ms-transform-origin: 0 100%;
       -o-transform-origin: 0 100%;
       transform-origin: 0 100%;
    }
    
    .diamond span, .diamond div 
    {
    	-webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
       transform: rotate(45deg);
    }
</style>