@{
    ViewBag.Title = "SwimlaneChart";
}
<link href="@Url.Content("~/Content/demo-all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/perimeterAnchorsDemo.css")" rel="stylesheet" type="text/css" />
<h2>
    Swimlane Map - Test Process</h2>
<div id="pallette-menu">
    <ul>
        <h4 style="text-align: center">
            Drawing Palette</h4>
        <li class="pallette-shape">
            <div class="shape pallette roundedRectangle gradient">
                Action<span class="drag_icon">&#10150;</span></div>
        </li>
        <li class="pallette-shape">
            <div class="shape pallette start">
                Start<span class="drag_icon">&#10150;</span></div>
        </li>
        <li class="pallette-shape">
            <div class="shape pallette stop">
                Stop<span class="drag_icon">&#10150;</span></div>
        </li>
        <li class="pallette-shape">
            <div class="shape pallette" data-shape="Diamond">
                Decision<span class="drag_icon">&#10150;</span></div>
        </li>
    </ul>
</div>

<div id="pallette-container">
    <div id="pallette-draw">
        <ul class="list img-list">
            <li>
                <div class="li-text">
                    <h5 class="li-head">
                        Corp. Customer</h5>
                </div>

            </li>
            <li>
                <div class="li-text">
                    <h5 class="li-head">
                        Sales</h5>
                </div>

            </li>
            <li>
                <div class="li-text">
                    <h5 class="li-head">
                        Administration</h5>
                </div>
                
            </li>
            <li>
                <div class="li-text">
                    <h5 class="li-head">
                        Software Provider</h5>
                </div>
                
            </li>
            <li>
                <div class="li-text">
                    <h5 class="li-head">
                        Service</h5>
                </div>

            </li>
        </ul>
        <div id="render">
        </div>
        <div id="window1" class="shape roundedRectangle">
            <div class="shape-label">
                Customer</div>
            <span class="drag_icon">&#10150;</span></div>
        <div id="window2" class="shape roundedRectangle">
            <div class="shape-label">
                Customer</div>
            <span class="drag_icon">&#10150;</span></div>
        <div id="window3" class="shape roundedRectangle">
            <div class="shape-label">
                Sales</div>
            <span class="drag_icon">&#10150;</span></div>
        <div id="window4" class="shape roundedRectangle">
            <div class="shape-label">
                Admin</div>
            <span class="drag_icon">&#10150;</span></div>
        <div id="window5" class="shape roundedRectangle">
            <div class="shape-label">
                Software Vendor</div>
            <span class="drag_icon">&#10150;</span></div>
        <div id="window6" class="shape roundedRectangle">
            <div class="shape-label">
                Consultant Svcs. Conducts Needs Assesment</div>
            <span class="drag_icon">&#10150;</span></div>
        <div id="window7" class="shape roundedRectangle">
            <div class="shape-label">
                IT Professional Installs Software + Writes API</div>
            <span class="drag_icon">&#10150;</span></div>
        <div id="window8" class="shape roundedRectangle">
            <div class="shape-label">
                Consultant Trains Customer On Software</div>
            <span class="drag_icon">&#10150;</span></div>
    </div>
</div>

<input type='button' class='k-button' value='Save' onclick='Save()'>
<input type='button' class='k-button' value='Load' onclick='Load()'>
<input type='button' class='k-button' value='Clear' onclick='Clear()'>

<script type="text/javascript">

    $(document).ready(function () {

        counter = 0;

        $(".pallette").draggable({
            containment: '#pallette-draw',
            helper: 'clone',
            stop: function (event, ui) {
                $(ui.helper).clone(true, false).removeClass('pallette ui-draggable-dragging jsPlumb_dragged').addClass('clone').appendTo($('#pallette-draw'));

                var clone = $('.clone');
                var pos = $(ui.helper).offset();
                clone.offset({ top: pos.top, left: pos.left });

                jsPlumb.makeTarget(clone, { dropOptions: { hoverClass: "dragHover" }, anchor: "Continuous" });

                jsPlumb.makeSource(clone, {
                    anchor: "Continuous",
                    connector: "Flowchart"
                });
            }
        });



        $('li').droppable({ hoverClass: "ui-state-active" });
        $('.img-list').sortable({ hoverClass: "ui-state-active" });
        $('.img-list').disableSelection();

        /* Connection 1 */
        jsPlumb.connect({ source: $('#window2'), target: $('#window3'), anchor: "Continuous", overlays: [["Label", { label: "Customer Places Purchase Order", location: 0.7, id: "label1"}]] });
        /* Connection 2 */
        jsPlumb.connect({ source: $('#window3'), target: $('#window4'), anchor: "Continuous", overlays: [["Label", { label: "Sales Sends Purchase Order On To Admin", location: 0.7, id: "label2"}]] });
        /* Connection 3 */
        jsPlumb.connect({ source: $('#window3'), target: $('#window6'), anchor: "Continuous", overlays: [["Label", { label: "Sales Informs Consultant Svcs. Of customer order", location: 0.7, id: "label3"}]] });
        /* Connection 4 */
        jsPlumb.connect({ source: $('#window1'), target: $('#window4'), anchor: "Continuous", overlays: [["Label", { label: "Customer Makes Payment", location: 0.7, id: "label4"}]] });
        /* Connection 5 */
        jsPlumb.connect({ source: $('#window4'), target: $('#window1'), anchor: "Continuous", overlays: [["Label", { label: "Admin Invoices Customer", location: 0.7, id: "label5"}]] });
        /* Connection 6 */
        jsPlumb.connect({ source: $('#window4'), target: $('#window5'), anchor: "Continuous", overlays: [["Label", { label: "Admin Sends Purchase Order to Software Vendor", location: 0.7, id: "label6"}]] });
        /* Connection 8 */
        jsPlumb.connect({ source: $('#window5'), target: $('#window7'), anchor: "Continuous", overlays: [["Label", { label: "", location: 0.7, id: "label8"}]] });
        /* Connection 9 */
        jsPlumb.connect({ source: $('#window6'), target: $('#window4'), anchor: "Continuous", overlays: [["Label", { label: "Consultant Puts in Request for Software", location: 0.7, id: "label9"}]] });
        /* Connection 10 */
        jsPlumb.connect({ source: $('#window6'), target: $('#window7'), anchor: "Continuous", overlays: [["Label", { label: "Consultant Sends stats to Programmers", location: 0.7, id: "label10"}]] });
        /* Connection 11 */
        jsPlumb.connect({ source: $('#window7'), target: $('#window8'), anchor: "Continuous", overlays: [["Label", { label: "", location: 0.7, id: "label11"}]] });
        /* Connection 7 */
        jsPlumb.connect({ source: $('#window8'), target: $('#window1'), anchor: "Continuous", overlays: [["Label", { label: "Consulting Makes Final Delivery of Custom Software", location: 0.7, id: "label7"}]] });

    });  

</script>
<style>
    /* Shape positions */
    #window1
    {
        position: absolute;
        left: 1580px;
        top: 40px;
    }
    #window2
    {
        position: absolute;
        left: 350px;
        top: 40px;
    }
    #window3
    {
        position: absolute;
        left: 350px;
        top: 226px;
    }
    #window4
    {
        position: absolute;
        left: 590px;
        top: 407px;
    }
    #window5
    {
        position: absolute;
        left: 827px;
        top: 569px;
    }
    #window6
    {
        position: absolute;
        left: 590px;
        top: 760px;
    }
    #window7
    {
        position: absolute;
        left: 1054px;
        top: 760px;
    }
    #window8
    {
        position: absolute;
        left: 1580px;
        top: 760px;
    }
    
    .shape-label
    {
        float: left;
        width: 90%;
    }
    
    .img-list
    {
        float: left;
        width: 100%;
        margin: 0;
    }
    
    .list li
    {
        display: table;
        border-collapse: collapse;
        width: 100%;
        min-height: 180px;
        height: 180px;
        padding: 5px;
        background: #FFFFFF;
        -webkit-box-shadow: 0 1px 4px rgba(0,0,0,1.0);
        box-shadow: 0 1px 4px rgba(0,0,0,1.0);
        margin: 0;
    }
    .ui-state-active
    {
        background: #FEFFD6;
    }
    .inner
    {
        display: table-row;
        overflow: hidden;
    }
    .li-text
    {
        width: 180px;
        vertical-align: middle;
        background: #e1e1e1;
        
        transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform-origin: 88px 90px;
        -moz-transform-origin: 88px 90px;
        -ms-transform-origin: 88px 90px;
        -o-transform-origin: 88px 90px;
        
    }
    .li-head
    {
        margin: 0;
        padding: 5px 5px 5px 5px;
    }
    .li-sub
    {
        margin: 0;
    }
</style>
