@{
    ViewBag.Title = "SwimlaneChart";
}

<link href="@Url.Content("~/Content/demo-all.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/perimeterAnchorsDemo.css")" rel="stylesheet" type="text/css" />
<h2>Swimlane Map</h2>

<div id="chartOptions">
    <div class="field"><input id="chartName" class="input" type="text" placeholder="New Flowchart"></div>
    <div class='medium metro rounded btn primary'><input type='button' value='New' onclick='Clear()'></div>
    <div class='medium metro rounded btn primary'><input type='button' value='Save' onclick='Save("S")'></div>
    <div class='medium metro rounded btn primary'><input type='button' value='Discard' onclick='Clear()'></div>
</div>

<div class="field"><textarea id="chartDescription" class="input textarea" placeholder="Enter Process Description" rows="4"></textarea></div>


<div id="pallette-menu">
    <ul>
        <h4 style="text-align: center">
            Drawing Palette</h4>
        <li class="pallette-shape">
            <div class="shape pallette roundedRectangle">
                <div class="shape-label">Action</div>
                <span class="drag_icon">&#10150;</span></div>
        </li>
        <li class="pallette-shape">
            <div class="shape pallette start">
                <div class="shape-label">Start</div>
                <span class="drag_icon">&#10150;</span></div>
        </li>
        <li class="pallette-shape">
            <div class="shape pallette stop">
                <div class="shape-label">Stop</div>
                <span class="drag_icon">&#10150;</span></div>
        </li>
        <li class="pallette-shape">
            <div class="shape pallette" data-shape="Diamond">
                <div class="shape-label">Decision</div>
                <span class="drag_icon">&#10150;</span></div>
        </li>
        <li class="pallette-shape">
            <div class="shape pallette stickyNote">Sticky Note text example</div>
        </li>
    </ul>
</div>

<div id="pallette-container">
    <div id="pallette-draw">
        <ul class="list swimlane">
            <li>
                <div class="li-text">
                    <h5 class="li-head">
                        Corp. Customer</h5>
                </div>

            </li>
            <li>
                <div class="li-text">
                    <h5 class="li-head">
                        Sales</h5>
                </div>

            </li>
            <li>
                <div class="li-text">
                    <h5 class="li-head">
                        Administration</h5>
                </div>
                
            </li>
            <li>
                <div class="li-text">
                    <h5 class="li-head">
                        Software Provider</h5>
                </div>
                
            </li>
            <li>
                <div class="li-text">
                    <h5 class="li-head">
                        Service</h5>
                </div>

            </li>
        </ul>

        <div id="line1" class="verticalLine" style="left: 14%"></div>
        <div id="line2" class="verticalLine" style="left: 28%"></div>
        <div id="line3" class="verticalLine" style="left: 42%"></div>
        <div id="line4" class="verticalLine" style="left: 56%"></div>
        <div id="line5" class="verticalLine" style="left: 70%"></div>
        <div id="line6" class="verticalLine" style="left: 84%"></div>
        <div id="line7" class="verticalLine" style="left: 98%"></div>

        <div id="render">
        </div>
        <div id="window1" class="shape roundedRectangle">
            <div class="shape-label">
                Customer</div>
            <span class="drag_icon">&#10150;</span></div>
        <div id="window2" class="shape roundedRectangle">
            <div class="shape-label">
                Customer</div>
            <span class="drag_icon">&#10150;</span></div>
        <div id="window3" class="shape roundedRectangle">
            <div class="shape-label">
                Sales</div>
            <span class="drag_icon">&#10150;</span></div>
        <div id="window4" class="shape roundedRectangle">
            <div class="shape-label">
                Admin</div>
            <span class="drag_icon">&#10150;</span></div>
        <div id="window5" class="shape roundedRectangle">
            <div class="shape-label">
                Software Vendor</div>
            <span class="drag_icon">&#10150;</span></div>
        <div id="window6" class="shape roundedRectangle">
            <div class="shape-label">
                Consultant Svcs. Conducts Needs Assesment</div>
            <span class="drag_icon">&#10150;</span></div>
        <div id="window7" class="shape roundedRectangle">
            <div class="shape-label">
                IT Professional Installs Software + Writes API</div>
            <span class="drag_icon">&#10150;</span></div>
        <div id="window8" class="shape roundedRectangle">
            <div class="shape-label">
                Consultant Trains Customer On Software</div>
            <span class="drag_icon">&#10150;</span></div>

        <div id="window9" class="shape stickyNote"><div class="shape-label">Sticky Note text example</div></div>
    </div>
</div>

<div id="inputWindow">
    <div class="field"><input id="labelSet" class="input" type="text" placeholder="Enter Label"></div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        counter = 0;

        $(".pallette").draggable({
            containment: '#pallette-draw',
            helper: 'clone',
            stop: function (event, ui) {
                $(ui.helper).clone(true, false).removeClass('pallette ui-draggable-dragging jsPlumb_dragged').addClass('clone').appendTo($('#pallette-draw'));

                var clone = $('.clone');
                var pos = $(ui.helper).offset();
                clone.offset({ top: pos.top, left: pos.left });

                jsPlumb.makeTarget(clone, { dropOptions: { hoverClass: "dragHover" }, anchor: "Continuous" });

                jsPlumb.makeSource(clone, {
                    anchor: "Continuous",
                    connector: "Flowchart"
                });

                clone.removeClass('clone');
            }
        });

        $('.stickyNote').resizable();

        $('li').droppable({ hoverClass: "ui-state-active" });
        $('.img-list').sortable({ hoverClass: "ui-state-active" });
        $('.img-list').disableSelection();

        /* Connection 1 */
        jsPlumb.connect({ source: $('#window2'), target: $('#window3'), anchor: "Continuous", overlays: [["Label", { cssClass: "component", label: "Customer Places Purchase Order", location: 0.7, id: "label1"}]] });
        /* Connection 2 */
        jsPlumb.connect({ source: $('#window3'), target: $('#window4'), anchor: "Continuous", overlays: [["Label", { cssClass: "component", label: "Sales Sends Purchase Order On To Admin", location: 0.7, id: "label2"}]] });
        /* Connection 3 */
        jsPlumb.connect({ source: $('#window3'), target: $('#window6'), anchor: "Continuous", overlays: [["Label", { cssClass: "component", label: "Sales Informs Consultant Svcs. Of customer order", location: 0.7, id: "label3"}]] });
        /* Connection 4 */
        jsPlumb.connect({ source: $('#window1'), target: $('#window4'), anchor: "Continuous", overlays: [["Label", { cssClass: "component", label: "Customer Makes Payment", location: 0.7, id: "label4"}]] });
        /* Connection 5 */
        jsPlumb.connect({ source: $('#window4'), target: $('#window1'), anchor: "Continuous", overlays: [["Label", { cssClass: "component", label: "Admin Invoices Customer", location: 0.7, id: "label5"}]] });
        /* Connection 6 */
        jsPlumb.connect({ source: $('#window4'), target: $('#window5'), anchor: "Continuous", overlays: [["Label", { cssClass: "component", label: "Admin Sends Purchase Order to Software Vendor", location: 0.7, id: "label6"}]] });
        /* Connection 8 */
        jsPlumb.connect({ source: $('#window5'), target: $('#window7'), anchor: "Continuous" });
        /* Connection 9 */
        jsPlumb.connect({ source: $('#window6'), target: $('#window4'), anchor: "Continuous", overlays: [["Label", { cssClass: "component", label: "Consultant Puts in Request for Software", location: 0.7, id: "label9"}]] });
        /* Connection 10 */
        jsPlumb.connect({ source: $('#window6'), target: $('#window7'), anchor: "Continuous", overlays: [["Label", { cssClass: "component", label: "Consultant Sends stats to Programmers", location: 0.7, id: "label10"}]] });
        /* Connection 11 */
        jsPlumb.connect({ source: $('#window7'), target: $('#window8'), anchor: "Continuous" });
        /* Connection 7 */
        jsPlumb.connect({ source: $('#window8'), target: $('#window1'), anchor: "Continuous", overlays: [["Label", { cssClass: "component", label: "Consulting Makes Final Delivery of Custom Software", location: 0.7, id: "label7"}]] });

        var handleUserInput = function () {
            var userinput = ($("#labelSet").val());
            $('.edit .shape-label').text(userinput);
            $('.edit .li-head').text(userinput);
            $('.edit').removeClass('edit');
        }


        var win = $("#inputWindow")
            .kendoWindow({
                actions: ["Close"],
                minWidth: 300,
                modal: true,
                resizable: true,
                title: "Enter title text",
                visible: false,
                close: handleUserInput
            })
            .data("kendoWindow")
            .center();

        $(".shape").not(".pallette").click(function () {
            $(this).addClass('edit');
            win.open();
        });

        $(".li-head").click(function () {
            $(this).addClass('edit');
            win.open();
        });

        $('.verticalLine').draggable({
            containment: '#pallette-draw',
            axis: "x"
        }).click(function () {
            $(this).remove();
        });
    });

      

</script>
<style>
    #chartOptions
    {
    	float: left;
    }
    #chartName
    {
    	width: 600px;
    }
    
    /* Shape positions */
    #window1
    {
        position: absolute;
        left: 1580px;
        top: 40px;
    }
    #window2
    {
        position: absolute;
        left: 350px;
        top: 40px;
    }
    #window3
    {
        position: absolute;
        left: 350px;
        top: 226px;
    }
    #window4
    {
        position: absolute;
        left: 590px;
        top: 407px;
    }
    #window5
    {
        position: absolute;
        left: 827px;
        top: 569px;
    }
    #window6
    {
        position: absolute;
        left: 590px;
        top: 760px;
    }
    #window7
    {
        position: absolute;
        left: 1054px;
        top: 760px;
    }
    #window8
    {
        position: absolute;
        left: 1580px;
        top: 760px;
    }
    
    #window9
    {
        position: absolute;
        left: 400px;
        top: 760px;
    }
    
    .verticalLine 
    {
    	position:absolute;
    	width: 0%;
        border-right: dashed #3085d6;
        height: 100%;
    }
    
    .shape-label
    {
        float: left;
        width: 90%;
    }
    
    .swimlane
    {
        float: left;
        width: 100%;
        margin: 0;
    }
    
    .swimlane li
    {
        display: table;
        border-collapse: collapse;
        width: 100%;
        min-height: 180px;
        height: 180px;
        padding: 5px;
        background: #FFFFFF;
        -webkit-box-shadow: 0 1px 4px rgba(0,0,0,1.0);
        box-shadow: 0 1px 4px rgba(0,0,0,1.0);
        margin: 0;
    }
    .ui-state-active
    {
        background: #FEFFD6;
    }
    .inner
    {
        display: table-row;
        overflow: hidden;
    }
    .li-text
    {
        width: 180px;
        vertical-align: middle;
        background: #e1e1e1;
        
        transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform-origin: 88px 90px;
        -moz-transform-origin: 88px 90px;
        -ms-transform-origin: 88px 90px;
        -o-transform-origin: 88px 90px;
        
    }
    .li-head
    {
        margin: 0;
        padding: 5px 5px 5px 5px;
        text-align: center;
        font-weight: 800;
    }
    .li-sub
    {
        margin: 0;
    }
    
    
</style>
